extends layout

block content
    include ./navbar.jade

    .container

        h1 Contact

        ul
            li Par mail: le.tartatine@gmail.com
            li Page facebook: Le tartatine
            li Télèphone: +33 3 xx xx xx xx
