extends layout

block content
    include ./navbar.jade

    .container
        h1 Où me trouver ?
        ul
            li le lundi et jeudi midi à Beauvais 
            li le mardi et vendredi midi à Creil 
            li le mardi soir à Fournival sur la place du village
            li le week end, le Tartatine se rend disponible pour des évènements publiques et privés ( mariage, anniversaire…)
