extends layout

block content
    include ./navbar.jade

    .container
        h1 Le Tartatine
        p Le Tartatine est un restaurant nomade qui propose des repas à emporter.
        p Les menus varient en fonction des saisons et sont élaborés à partir des productions locales.
        p Le Tartartine s’engage par ailleurs à réfléchir sur la réduction des déchets et leur valorisation.
        p Le Tartatine se loue pour des évènements publiques ou privés. N’hésitez pas à me contacter.
