extends layout

block content
    include ./navbar.jade

    .container-fluid

        h1 Menus & Tarifs

        h2 Menus

        .row
            .col-md-6.col-sm-6.col-xs-12
                h3 En Hiver

                dl
                    dt Des soupes
                    dd au potimarron, carottes au cumin, en julienne

                    dt Des flamiches aux poireaux

                    dt Des tourtes aux pommes de terre

                    dt Des quiches aux épinards

                    dt Des salades quand il y a un rayon de soleil
                    dd chou, pomme, betteraves, oeufs, pommes de terre aux herbes

                    dt Les tartines, composablent à l’infini, mes suggestions:
                    dd tartine”flette”, endive, chèvre au miel, huile d’olive, pomme de terre, noisette

                    dt Des desserts
                    dd sablé au amande, galette des rois, amandine au poire

                    dt Des boissons
                    dd tisane d’Eve, tchaï

            .col-md-6.col-sm-6.col-xs-12
                h3 En Ete

                dl
                    dt Des salades
                    dd carottes à l’orange, Grec, composée

                    dt Des tartes
                    dd à la moutarde, méditerranéenne, chèvre, courgettes

                    dt Des soupes quand il pleut
                    dd aux choux, courgettes à la coriandre, pomme de terre à l’ail

                    dt Des tartines
                    dd moutarde, tomate et tomme au cidre ou coulis, courgettes et herbes fraiches ou oignons, chèvre au miel

                    dt Des desserts
                    dd moelleux au chocolat, salade de fruits, palmier

                    dt Des boissons
                    dd thé glacé, jus de fruits

        h2 Tarifs

        p Les plats varient tout au long de l’année. Les “formules” restent les mêmes.

        .row
            .col-md-6.col-sm-6.col-xs-12
                h3 Menus

                ul
                    li tarte
                    li salade ou soupe
                    li dessert ou boisson

                p 9 Euros

                ul
                    li tartine 3 ingredients
                    li salade ou soupe
                    li dessert ou boisson

                p 8 Euros

            .col-md-6.col-sm-6.col-xs-12
                h3 Au detail

                ul
                    li tarte : 5,00e
                    li tartine 3 ingrédients : 3,50e
                    li supplément : 0,50e
                    li salade : 3,30e
                    li soupe : 3,00e
                    li supplément : 0,50e
                    li les 3 ( croûtons, fromages, crème fraîche) : 1,00e
                    li dessert : 2,00e
                    li boisson : entre 1e et 2e



