extends layout

block content
    include ./navbar.jade

    .container

        h1 A propos

        h2 Qui suis je ?

        p
            | Née en Picardie dans un petit village de l’Oise au sein d’une famille où l’écologie tient une
            | place prépondérante depuis plusieurs générations.
            | C’est tout naturellement que lors de la création du Tartatine,
            | j’ai inclus une réflèxion en accord avec mes convictions, tant sur le choix des produits et leur élaboration,
            | que sur la revalorisation des déchets.
        p
            | Grâce à mes différentes expériences professionnelles (animatrice séjour à l’étranger, boulangère, aide cuisine),
            | j’ai élaboré toute une gamme de recettes qui vous séduiront.

        h2 Mes engagements

        p
            | En venant vous restaurer chez moi vous êtes sûr de manger des produits frais,
            | de fabrication maison ou local, sans pesticide, ni engrais à outance,
            | achetés dans un rayon de moins de 50 kilomètres, dont les déchets seront revalorisé en compostage ou aliment pour animaux.

        p Vous participerez également à la réduction des emballages en adoptant la vaisselle Tartatine. 

        p
            | Afin que toutes les personnes à régime alimentaire spécifique (sans gluten, sans lactose, etc...) ai enfin leur restaurant,
            | j’offre sur commande de quoi les satisfaire.

        h2 Mes fournisseurs
